<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Rozróżnianie gatunków ślimaków</title>
    <style>
      footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 70px;
      }
    </style>
  </head>
  <body>
    <center>
      <div class="section-title bg-dark p-4 text-light">
        <h2>Rozróżnianie gatunków ślimaków</h2>
      </div>
      <div class="container mt-5">
        <div class="row justify-content-center">
          <div class="col-md-6">
            <form method="POST" action="/" enctype="multipart/form-data" class="border p-4">
              <div class="form-group">
                <center>
                <input class="form-control-file" type="file" name="image_upload" id="image_upload" accept="image/*">
              </div>
              <div class="form-group mt-5 text-center">
                <button id="submit" type="submit" class="btn btn-primary px-5 py-3" style="background-color: #74A2D3; color:white">Sprawdź</button>
              </div>
              <div class="form-group mt-5">
                <h5 class="text-center">{{ prediction }}</h5>
              </div>
            </form>
          </div>
        </div>
        <div class="row justify-content-center mt-5">
          <div class="col-md-6">
            <img src="{{ url_for('static', filename='upload/' + filename) }}" class="img-fluid">
          </div>
        </div>
      </div>
      <footer class="bg-dark text-light p-4">
        <div class="container">
          <p>Marcin Sikorski</p>
        </div>
      </footer>
    </center>
  </body>
</html>
