<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Rozróżnianie gatunków ślimaków</title>
    <style>
      footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 70px; /* adjust height of the footer */
      }
    </style>
  </head>
  <body>
    <center>
      <div class="section-title bg-dark p-5 text-light ">
        <h2>Rozróżnianie gatunków ślimaków</h2>
      </div>
      <form method="POST" action="/" enctype="multipart/form-data">
        <br>
        <br>
        <p><input class="choose_file" type="file" name="image_upload" accept="image/*"></p>
        <div style="margin-top: 50px">
          <button id="submit" type="submit" class="btn btn-lg " style="background-color: #9d03fc; color:white">Sprawdź</button>
        </div>
        <div style="margin-top: 20px">
          <h5><strong>Jest to: </strong>{{ pred }}</h5>
        </div>
        <div style="padding-top: 20px; margin-left: 1=20px">
          <img src="{{ url_for('static', filename='upload/' + full_filename) }}" width="450" height="350">
        </div>
      </form>
      <footer class="bg-dark text-light p-4">
        <div class="container">
          <p>Marcin Sikorski</p>
        </div>
      </footer>
    </center>
  </body>
</html>
